<div class="container">
  <div class="header-with-search">
    <h2>Kategorije</h2>
    <input
      type="text"
      placeholder="Pretraži..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="applyPagination()"
      class="search-input"
    />
  </div>

  <!-- Forma za dodavanje / izmene -->
  <div *ngIf="selectedCategory">
    <div class="category-form">
      <input [(ngModel)]="selectedCategory.name" placeholder="Naziv" />
      <input [(ngModel)]="selectedCategory.description" placeholder="Opis" />
      <input [(ngModel)]="selectedCategory.icon" placeholder="Ikona" />

      <div class="form-buttons">
        <button (click)="saveCategory(selectedCategory)">Sačuvaj</button>
        <button (click)="cancelEdit()">Otkaži</button>
      </div>
    </div>
  </div>

  <button class="add-button" (click)="selectCategory({ name: '', description: '', icon: '' })">
    + Nova kategorija
  </button>

  <table>
    <thead>
      <tr>
        <th>Naziv</th>
        <th>Opis</th>
        <th>Ikona</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cat of displayedCategories; let i = index">
        <td>{{ cat.name }}</td>
        <td>{{ cat.description }}</td>
        <td>{{ cat.icon }}</td>
        <td class="actions-cell">
          <span class="menu-icon" (click)="toggleMenu(i)">⋮</span>
          <div class="menu" *ngIf="openMenuIndex === i">
            <button (click)="editCategory(cat)">
              <span class="material-icons">edit</span>
              Izmjeni
            </button>
            <button (click)="deleteCategory(cat.id!)">
              <span class="material-icons">delete</span>
              Obriši
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <app-pagination
    [totalPages]="paginationService.totalPages"
    [currentPage]="paginationService.currentPage"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
