<div class="book-card">
  <div class="header">
    <div class="left">
      <span class="book-name">{{ book?.name }}</span>
      <span class="book-info">Evidencija {{ book?.number_of_copies }} / {{ book?.isbn }}</span>
    </div>

    <div class="right-wrapper">
      <div class="actions">
        <a class="action-btn"><i class="fa-solid fa-trash"></i> Otpiši</a>
        <a class="action-btn"><i class="fa-solid fa-book-open"></i> Izdaj</a>
        <a class="action-btn"><i class="fa-solid fa-rotate-left"></i> Vrati</a>
        <a class="action-btn"><i class="fa-solid fa-calendar-check"></i> Rezerviši</a>
      </div>

      <div class="right">
        <button class="dots" (click)="toggleDropdown()">⋮</button>
        @if (dropdownOpen) {
          <div class="dropdown">
            <a (click)="closeDropdown()">Pogledaj knjigu</a>
            <a (click)="closeDropdown()">Izmijeni knjigu</a>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="navbar-wrapper">
    <div class="book-navbar">
      <nav class="nav-links">
        <a routerLink="details" routerLinkActive="active" class="nav-item">Osnovni detalji</a>
        <a routerLink="specification" routerLinkActive="active" class="nav-item">Specifikacija</a>
        <a routerLink="records" routerLinkActive="active" class="nav-item">Evidencija iznajmljivanja</a>
        <a routerLink="media" routerLinkActive="active" class="nav-item">Multimedia</a>
      </nav>

      <!-- Child content sada unutar book-navbar -->
      <div class="book-content">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="navbar-extra">
      <span>Status: </span>
      <button class="extra-btn">Akcija</button>
    </div>
  </div>

</div>
