<div class="details-card">
  <h2>Detalji bibliotekara</h2>

  <div class="details-content">
    <img
      [src]="librarian?.profile_picture || 'assets/default-user.png'"
      alt="Profilna slika"
      class="profile-picture"
    />

    <div class="details-info">
      <p><span class="details-label">Ime i prezime:</span> <span class="details-value">{{ librarian?.first_name }} {{ librarian?.last_name }}</span></p>
      <p><span class="details-label">Korisničko ime:</span> <span class="details-value">{{ librarian?.username }}</span></p>
      <p><span class="details-label">Email:</span> <span class="details-value">{{ librarian?.email }}</span></p>
      <p><span class="details-label">JMBG:</span> <span class="details-value">{{ librarian?.jmbg }}</span></p>
      <p><span class="details-label">Tip korisnika:</span> <span class="details-value">Bibliotekar</span></p>
    </div>
  </div>

  <button class="go-back-button" (click)="goBack()">Nazad</button>
</div>
