<div class="new-librarian-container">
  <h2>Novi bibliotekar</h2>
  <nav>
  <a routerLink="/librarians" >Svi bibliotekari</a> /
  <a routerLink="/librarians/new" >Novi bibliotekar</a>
</nav>


  <form [formGroup]="librarianForm" (ngSubmit)="onSubmit()">
    <div class="form-content">
      <div class="form-left">
        <label>
          Ime *
          <input formControlName="first_name" type="text" required />
        </label>

        <label>
          Prezime *
          <input formControlName="last_name" type="text" required />
        </label>

        <label>
          JMBG *
          <input formControlName="jmbg" type="text" required />
        </label>

        <label>
          E-mail *
          <input formControlName="email" type="email" required />
        </label>

        <label>
          Korisničko ime *
          <input formControlName="username" type="text" required />
        </label>

        <label>
          Šifra *
          <input formControlName="password" type="password" required />
        </label>

        <label>
          Ponovi šifru *
          <input formControlName="confirmPassword" type="password" required />
        </label>
      </div>

      <div class="form-right">
        <div class="photo-upload" (click)="fileInput.click()">
          <input #fileInput type="file" (change)="onFileSelected($event)" hidden />
          <ng-container *ngIf="photoPreview; else addPhoto">
            <img [src]="photoPreview" alt="Preview" />
          </ng-container>
          <ng-template #addPhoto>
            <div class="add-photo-placeholder">
              <span class="material-icons">image</span>
              <p>Dodaj fotografiju</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <button type="button" class="cancel" (click)="onCancel()">Poništi</button>
      <button type="submit" class="save" [disabled]="librarianForm.invalid">Sačuvaj</button>
    </div>
  </form>
</div>
