.app-container {
  display: block;          
}

.app-container main {
  margin-top: 71px;
  margin-left: 250px;
  padding: 1rem;
  transition: margin-left 0.3s;
}

/* Kada je login ruta aktivna, makni margin-left da login bude full width */
body.login-page main,
.login-full-bg main {
  margin-left: 0 !important;
}

.app-container.collapsed-sidebar main {
  margin-left: 60px;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 71px;
  z-index: 10;
}

.app-sidebar {
  position: fixed;
  top: 71px;
  left: 0;
  width: 250px;
  height: calc(100vh - 71px);
  z-index: 9;
}
.app-sidebar.collapsed {
  width: 60px;
}



