<div class="profile-container">
  <div class="profile-card">
    <div class="profile-avatar">
      <img src="" alt="Profilna slika" />
    </div>
    <div class="profile-info">
      <h2>Ime korisnika</h2>
      <p class="profile-role">
        <i class="fas fa-user-tag"></i>
        Korisnik
      </p>
      <div class="profile-details">
        <div>
          <span class="label">Email:</span>
        </div>
        <div>
          <span class="label">Ime Korisnika:</span>
        </div>
      </div>
      <button class="edit-btn" disabled>
        <i class="fas fa-edit"></i> Izmeni profil
      </button>
    </div>
  </div>
</div>