<div class="new-author-container">
  <h2>Novi autor</h2>
  <nav>
    <a routerLink="/authors">Svi autori</a> /
    <a>Novi autor</a>
  </nav>

  <form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
    <div class="form-content">
      <div class="form-left">
        <!-- Ime -->
        <label>
          Ime
          <input formControlName="first_name" type="text" required />
        </label>
        @if (authorForm.get('first_name')?.invalid && authorForm.get('first_name')?.touched) {
          <div class="error-text">Ime je obavezno i mora imati najmanje 2 karaktera.</div>
        }

        <!-- Prezime -->
        <label>
          Prezime
          <input formControlName="last_name" type="text" required />
        </label>
        @if (authorForm.get('last_name')?.invalid && authorForm.get('last_name')?.touched) {
          <div class="error-text">Prezime je obavezno i mora imati najmanje 2 karaktera.</div>
        }

        <!-- Biografija -->
        <label>
          Biografija
          <textarea formControlName="biography" required></textarea>
        </label>
        @if (authorForm.get('biography')?.invalid && authorForm.get('biography')?.touched) {
          <div class="error-text">Biografija je obavezna i mora imati najmanje 10 karaktera.</div>
        }
      </div>
    </div>

    <div class="form-actions">
      <button type="button" class="cancel" (click)="onCancel()">Poništi</button>
      <button type="submit" class="save" [disabled]="authorForm.invalid">Sačuvaj</button>
    </div>
  </form>
</div>
