<div class="new-author-container">
  <h2>Novi autor</h2>
  <nav>
    <a routerLink="/authors">Svi autori</a> /
    <a routerLink="/authors/new">Novi autor</a>
  </nav>

  <form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
    <div class="form-content">
      <div class="form-left">
        <label>
          Ime
          <input formControlName="first_name" type="text" required />
        </label>

        <label>
          Prezime
          <input formControlName="last_name" type="text" required />
        </label>

        <label>
          Biografija
          <textarea formControlName="biography" required></textarea>
        </label>
      </div>
    </div>

    <div class="form-actions">
      <button type="button" class="cancel" (click)="onCancel()">Poništi</button>
      <button type="submit" class="save" [disabled]="authorForm.invalid">Sačuvaj</button>
    </div>
  </form>
</div>
