
@if (book) {
  <div class="book-spec-container">
    <h2>{{ book.name }}</h2>

    @if (book.authors.length) {
      <p><strong>Autor:</strong> {{ book.authors[0].first_name }} {{ book.authors[0].last_name }}</p>
    } @else {
      <p><strong>Autor:</strong> <em>N/A</em></p>
    }

    @if (book.publishers.length) {
      <p><strong>Izdavač:</strong> {{ book.publishers[0].name }}</p>
    } @else {
      <p><strong>Izdavač:</strong> <em>N/A</em></p>
    }

    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  </div>
}


<ng-template #notFound>
  <p>Knjiga nije pronađena.</p>
</ng-template>

