<div class="container">
  <div class="header-with-search">
    <h2>Žanrovi</h2>
    <input
      type="text"
      placeholder="Pretraži..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="applyPagination()"
      class="search-input"
      />
    </div>

    <!-- Forma za dodavanje / izmjene -->
    @if (selectedGenre) {
      <div>
        <div class="category-form">
          <input [(ngModel)]="selectedGenre.name" placeholder="Naziv" />
          <input [(ngModel)]="selectedGenre.description" placeholder="Opis" />
          <div class="form-buttons">
            <button (click)="saveGenre(selectedGenre)">Sačuvaj</button>
            <button (click)="cancelEdit()">Otkaži</button>
          </div>
        </div>
      </div>
    }

    <button class="add-button" (click)="selectGenre({ name: '', description: '' })">
      + Novi žanr
    </button>

    <table>
      <thead>
        <tr>
          <th>Naziv</th>
          <th>Opis</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (genre of displayedGenres; track genre; let i = $index) {
          <tr>
            <td>{{ genre.name }}</td>
            <td>{{ genre.description }}</td>
            <td class="actions-cell">
              <span class="menu-icon" (click)="toggleMenu(i)">⋮</span>
              @if (openMenuIndex === i) {
                <div class="menu">
                  <button (click)="editGenre(genre)">
                    <span class="material-icons">edit</span>
                    Izmjeni
                  </button>
                  <button (click)="deleteGenre(genre.id!)">
                    <span class="material-icons">delete</span>
                    Obriši
                  </button>
                </div>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>

    <!-- Pagination -->
    <app-pagination
      [totalPages]="paginationService.totalPages"
      [currentPage]="paginationService.currentPage"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  </div>
