<div class="rented-container">
  @if (pagedRentals.length > 0) {
    <table class="rented-table">
      <thead>
        <tr>
          <th>Izdato studentu</th>
          <th>Datum izdavanja</th>
          <th>Datum vraćanja</th>
          <th>Zadržavanje knjige</th>
          <th>Knjigu primio</th>
        </tr>
      </thead>
      <tbody>
        @for (rental of pagedRentals; track rental.id) {
          <tr>
            <td>{{ getStudentName(rental.student_id) }}</td>
            <td>{{ rental.rented_at | date:'yyyy-MM-dd' }}</td>
            <td>{{ rental.returned_at | date:'yyyy-MM-dd' }}</td>
            <td>{{ getDaysHeld(rental) }}</td>
            <td>{{ getLibrarianName(rental.librarian_id) }}</td>
          </tr>
        }
      </tbody>
    </table>
    <app-pagination
      [totalPages]="pagination.totalPages"
      [currentPage]="pagination.currentPage"
      (pageChange)="pagination.currentPage = $event"
    ></app-pagination>
  } @else {
    <p class="no-data">Nema trenutno vraćenih iznajmljivanja.</p>
  }
</div>


